<form action="/cocktails/<%= @cocktail.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type= "text" name="name" value=<%=@cocktail.name%>>
    <input type= "text" name="ingredients" value=<%=@cocktail.ingredients%>>
    <input type= "text" name="private_note" value=<%=@cocktail.private_note%>>
    <input type= "submit" value="Edit Cocktail">
  </form>

<form method="post" action="/cocktails/<%= @cocktail.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>